.checkoutProduct{
    display: flex;
    margin: 20px 0;
}

.checkoutProduct__image{
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin-top: 10px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 700;
}

