.login{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: white;

    .login__logo{
        width: 100px;
        margin: 20px 0;
        object-fit: contain;
    }
    
    .login__container{
        width: 300px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 20px;
        
    }
    
    .login__container > h1{
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .login__container > form > h5{
        margin-bottom: 5px;
        margin-top: 4px;
    }
    
    .login__container > form > input{
        width: 98%;
        height: 30px;
        margin-bottom: 10px;
        background-color: white;
    }
    
    .login__container p{
        font-size: 12px;
        margin-top: 15px;
    }
    
    .login__signInButton{
        background: #f0c14b;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
        border-radius: 2px;
    }
    
    .login__registerButton{
        width: 100%;
        height: 30px;
        margin-top: 10px;
        border: 1px solid;
        border-color: darkgray;;
        border-radius: 2px;
    
    }
    
    
}

